
<!-- <app-about></app-about> -->
<!-- <app-book></app-book> -->
<!-- <app-header></app-header> -->

<div [ngClass]="isDark? 'dark-theme' : 'light-theme'">
  <mat-toolbar class="header">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon example"
      aria-label="Example icon-button with menu icon">

      <mat-icon>menu</mat-icon>

    </button>

    <span>My App</span>

    <span class="example-spacer"></span>
    <mat-slide-toggle (click)="switchTheme()">Switch Theme !</mat-slide-toggle>
  </mat-toolbar>


  <mat-drawer-container class="example-container ">

    <mat-drawer #drawer mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
    
  </mat-drawer-container>
  <app-footer></app-footer>
</div>
