.example-container {

  width: 100%;

  height: 87vh;

  border: 1px solid #555;

  // background-color: greenyellow;

}
.button{
  position: fixed;
  left: 195vh;
}

.header{
  padding: 10px;
}

mat-toolbar{
  background-color: aqua;
}

mat-slide-toggle{
  margin-left: 32cm;
}
mat-drawer{
  background-color: lightgreen;
  width: 5cm;
  text-align: center;
}
